.container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
}

.navigation__tabs {
  flex: 1;
}

.navigation__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuButton {
  display: none;
}

@media (max-width: 940px) {
  .navigation__tabs {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
