/* spectrumTargetChart.module.css */
.chartContainer {
	background-color: #9d47b3f1;
	border: 2px solid #30bf3e;
}

.chartList {
	list-style-type: none;
	padding: 0;
}

.chartItem {
	margin-bottom: 8px;
	font-size: 16px;
}

.chartItem strong {
	margin-right: 8px;
}
