.split_horizontal {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: hidden;
}
.split_vertical {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.gutter {
	background-color: rgba(100, 100, 100, 0);
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #ffffff2f; /* Цвет при наведении */
}

.gutter_vertical {
	height: 8px;
	cursor: ns-resize;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter_horizontal {
	cursor: ew-resize;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
