.spectrumPanorama {
	box-sizing: border-box;
	overflow: hidden;
	/* border: solid 1px red; */
	width: 100%;
	height: 100%;
}

.spectrumPanorama__spectrum {
	width: 100%;
	/* height: 40%; */
	height: 40%;
	/* height: 100%; */
}

.spectrumPanorama__band {
	width: 100%;
	height: 20%;
}
.spectrumPanorama__heatmap {
	width: 100%;
	height: 40%;
}
